.paginationBttns {
  width: 30%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 5px;
  margin: 5px;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: black;
  background-color: #dceef2;
}

.paginationActive a {
  color: black;
  background-color: #dceef2;
}

.paginationDisabled a {
  /* border: 1px solid #999999; */
  /* background-color: #cccccc; */
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgb(229, 229, 229);
}
